<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.xamarin.Tuvi2015.droid" android:versionCode="1" android:versionName="Demo">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
	<application android:theme="@android:style/Theme.Holo.Light.DarkActionBar" android:icon="@drawable/Tuvi2015" android:label="Tu Vi At Mui 2015"></application>
</manifest>